[include mainsail.cfg]
[include sovol-macros.cfg]
[include timelapse.cfg] # DONT FORGET TO INSTALL THE TIMELAPSE PLUGIN

# PLEASE UNCOMMENT THE FILE THAT BEST FITS YOUR CONFIGURATION
# DON'T NEED OR WANT TO USE SOMETHING, DON'T USE (UNCOMMENT) IT

# Configs and menu for the stock lcd screen.
[include options/lcd/*.cfg]

# If you are using the stock probe, keep the following lines as-is.
# If you have an Eddy probe, comment the stock probe and uncomment the eddy, then go read options/probe/eddy.cfg. 
# Also, when using eddy, comment out/remove the [probe] section here in the printer.cfg (don't forget the bottom 'SAVE_CONFIG' block)
# Also, when using Sovol eddy, comment out/remove the [probe] section and adjust [quad_gantry_level] section here in the printer.cfg (don't forget the bottom 'SAVE_CONFIG' block)
# Sovol eddy probe config requires eddy-ng, you will have to modify macros yourself according to eddy-ng instalation guide
#[include options/probe/stock.cfg] # Stock probe, default
#[include options/probe/eddy.cfg] # BTT Eddy probe
#[include options/probe/sovol-eddy.cfg] # Sovol eddy probe 

# Want to use a thermistor in your enclosure? You can use a RPi Pico with a BME280.
# Read the guide at /pico-thermistor/ on how to do this. Once ready you can uncomment the cfg below.
# [include options/thermistor/pico.cfg

[include pico.cfg]

[include eddy.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_32FFD2054747363021780757-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_30FF6A064746363912371557-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 6000
#max_accel_to_decel: 10000 # deprecated
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_x: virtual_endstop              
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True     
#--------------------------------------------------------------------
[tmc2209 stepper_x]
uart_pin: PE1
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE15

[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 16                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: true     
#--------------------------------------------------------------------
[tmc2209 stepper_y]
uart_pin: PB7
interpolate: True             
run_current: 1.1              
#hold_current: 1.2             
sense_resistor: 0.150         
stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 70
diag_pin: PE13 

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: true             
run_current: 0.55           
#hold_current: 0.58         
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16               

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: true             
run_current:  0.55          
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: true             
run_current: 0.55            
#hold_current: 0.58           
sense_resistor: 0.150         
stealthchop_threshold: 999999 
uart_address:3

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: true            
run_current: 0.55         
#hold_current: 0.58           
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999 

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 305                 
max_power: 1.0                
min_extrude_temp: 5
control : pid
pid_kp : 33.838
pid_ki : 5.223
pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035    

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: True             
run_current: 0.8           
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: True
event_delay: 3.0
pause_delay: 0.5
switch_pin: PE9

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 105                
control : pid
pid_kp : 73.571
pid_ki : 1.820
pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:40           
hysteresis: 5                
heating_gain: 2 

# PLEASE REMOVE THIS WHEN USING EDDY
#[probe]
#z_offset: 0

[probe_pressure]
pin: ^!PE12     
x_offset: 0                  
y_offset: 0
z_offset : 0
speed: 1.0

[quad_gantry_level]          
gantry_corners:              
	-60,-10
	410,420
points:
	50,50
	50,300
	300,300
	300,50
speed: 400                   
horizontal_move_z: 2.0       # set to 5 for Sovol eddy probe
retry_tolerance: 0.05      
retries: 5                  
max_adjust: 10   # set to 10 for Sovol eddy probe

[multi_pin print_cooling_fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB1

# print/part cooling fan
[fan]
pin: multi_pin:print_cooling_fan_pins
max_power: 1.0

##[fan_generic exhaust_fan] # exhaust fan
##pin: PA2
##max_power: 1.0

# MCU fan, aka noisy boi, is now only enabled when using steppers, extruder, heatbed; 5min timeout
##[controller_fan MCU_fan]
##pin: PA1
##max_power: 1
##kick_start_time: 0.5
##fan_speed: 1
##idle_timeout: 300
##heater: extruder, heater_bed
##stepper: stepper_x, stepper_y

# Want your fan (host) temperature controlled? Uncomment the next section and comment out the above section, derived from: https://www.reddit.com/r/Sovol/comments/1cqntzu/first_mod_on_my_sv08_noctua_fan_for_the/
# WARNING: Do you have a Noctua 24V 4010 fan (eg. NF-A4x10 24V PWM)? Then this will not work and results in a non-spinning fan.
# In that case you can either use the above 'controller_fan' section or use 'control: watermark' and leave the pid entries commented out.
[temperature_fan MCU_fan]
pin: PA1
kick_start_time: 0.5
max_power: 1.0
min_temp: 0
max_temp: 90
hardware_pwm: true
target_temp: 50
sensor_type: temperature_host # please comment out or remove the [temperature_sensor Host_temp] section if you don't want the temperature shown twice in the interface.
max_speed: 1.0
min_speed: 0.1
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
#control: watermark # use this control if pid control does not work for your fan

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

# Defined as an LED for ease of control
[led main_led]
white_pin:PA3
cycle_time: 0.010
hardware_pwm: False
initial_WHITE: 1.0

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 600


[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin:extra_mcu:PB12

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 30  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[save_variables]
filename = ~/printer_data/config/saved_variables.cfg

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUNgkwdNn5/s/q2R2Pmqy/T9O9GEQ9lPkP6RKgT9heN4/LS0w0fyGyT/ECcSy4cffvxBJ8NbVN28/Em6LCZ/m7j+vGzIrmKCrP8241rgd+9y/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQq2jzeA6ilD68vc1fmd6UPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQ5LE5Ey0vG0DZLc4qg3YKQHxAq+Lg3f0/T/Z+HxPVAEA5RxbcLbKnP0czkciFXQ3AOCNI1hou9j+2jqPIwQUZQMcCHUZVSMG/npdWZRasBMCUdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAhgl88l3JQ+qabwoRvulD6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DTGOnpncyUPpIYl2XVKRs+pKknIpK0CL4dffADhabsPTmj2J0o5Ki9cXSx/mnEoj1CYlzjvvi4vdwdIyKPM9O9IKMjWyn9xj3zFZydcnnAPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQYErBMCJb0j9mz0s6h+4TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/0lsiMMFKYEdALf/9gUegFGWMB2ZfcmFuZ2WUXZQoR0FIdl2mHNgAR0FI0Igi25AAZYwCZGOUSw91Lg==
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUBxfxNh5DPY/QLUv/e2m/T9eh3afjUTnP0I/rETrvdU/X1NHlVMi1T+VbDJWJ83cP2sNkohaF6q/I/RadadK2b/CrH183+y7PwShKo/Tt88/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQeeR4NWeolD6qZNQKsP6UPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQvHHQt7LvGkA+7lvzKBYKQBBLVDjyifo/HUnAq4OK+D+RXHLf3lftP3TtFvVSYvS/6c869s+jVT/oKwuWaQYGQH9NDQ5gw+E/rQYJme137b+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDELqZfQjS+5Q+7hEMGY0PlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1CUI/DEQeiUPj7O83Vp2yE+Z7LW/HitE77jvtdHZYv+PQwHeXMqcMw9mHUvdKyUyb0HnKb+G1/zvdwOrRORS+Y9xGpgwsjl5z3SyFYAAgzivZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQcCpr4TzJbT8mJfq7L/sTQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/bck84WsqcEdALf/yRJwTe2WMB2ZfcmFuZ2WUXZQoR0FIT4VhnVAAR0FIyOh4srAAZYwCZGOUSxB1Lg==
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.310993, 0.340027, 0.331712, 0.326150, 0.320997, 0.307505, 0.306338, 0.307495, 0.306556, 0.330297, 0.343734, 0.367157, 0.365762, 0.381765, 0.397212
#*# 	0.337940, 0.352016, 0.342116, 0.332388, 0.334692, 0.320319, 0.324730, 0.339561, 0.327990, 0.337728, 0.365351, 0.371968, 0.376769, 0.411661, 0.411648
#*# 	0.360689, 0.378107, 0.373106, 0.367366, 0.352692, 0.352012, 0.343943, 0.354299, 0.346707, 0.359131, 0.374704, 0.383358, 0.398335, 0.411861, 0.448153
#*# 	0.346490, 0.357991, 0.358453, 0.349259, 0.342116, 0.332865, 0.331241, 0.336789, 0.343726, 0.340708, 0.360735, 0.372174, 0.389471, 0.403754, 0.428710
#*# 	0.312381, 0.342794, 0.339532, 0.338405, 0.325206, 0.319156, 0.317047, 0.323097, 0.320319, 0.327990, 0.340499, 0.357312, 0.361194, 0.386075, 0.411200
#*# 	0.326362, 0.339349, 0.339089, 0.330768, 0.327981, 0.313575, 0.304222, 0.310781, 0.310518, 0.321003, 0.337458, 0.349259, 0.369233, 0.389269, 0.397413
#*# 	0.300939, 0.343942, 0.343728, 0.338404, 0.315890, 0.312153, 0.306556, 0.307505, 0.302799, 0.315890, 0.328932, 0.324734, 0.343938, 0.366223, 0.387010
#*# 	0.340499, 0.360270, 0.360272, 0.350194, 0.341856, 0.338875, 0.324730, 0.324051, 0.320793, 0.328461, 0.331712, 0.342118, 0.366955, 0.383821, 0.397417
#*# 	0.330770, 0.368970, 0.355709, 0.369903, 0.346707, 0.339553, 0.322897, 0.329824, 0.338198, 0.329144, 0.332863, 0.343265, 0.367833, 0.379037, 0.410079
#*# 	0.348782, 0.365762, 0.369896, 0.356381, 0.348791, 0.345560, 0.324262, 0.328461, 0.329144, 0.333335, 0.352016, 0.347176, 0.361673, 0.383822, 0.417511
#*# 	0.373081, 0.377901, 0.376301, 0.359599, 0.354093, 0.336789, 0.324262, 0.330760, 0.333544, 0.339344, 0.341178, 0.346499, 0.370103, 0.395362, 0.430935
#*# 	0.380161, 0.385153, 0.374702, 0.352486, 0.340499, 0.334478, 0.323784, 0.328668, 0.317530, 0.331239, 0.336109, 0.351079, 0.366696, 0.391316, 0.426686
#*# 	0.381730, 0.394499, 0.381765, 0.362342, 0.340499, 0.327990, 0.320108, 0.326352, 0.319846, 0.330770, 0.344411, 0.358663, 0.382895, 0.408041, 0.437671
#*# 	0.356840, 0.344411, 0.336319, 0.326834, 0.305386, 0.292241, 0.280467, 0.274325, 0.277641, 0.289903, 0.302106, 0.337728, 0.353157, 0.378105, 0.401506
#*# 	0.352661, 0.345560, 0.339557, 0.317525, 0.300461, 0.268645, 0.247926, 0.250788, 0.260799, 0.284473, 0.308883, 0.326360, 0.354769, 0.371038, 0.408499
#*# x_count = 15
#*# y_count = 15
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 333.92
#*# min_y = 15.0
#*# max_y = 334.90000000000003
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 58.4
#*# shaper_type_y = ei
#*# shaper_freq_y = 51.0
